body{
    font-family:Arial;
}

.main-image{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:10px;
}

h2{
    text-align:center;
    color:#003366;
}

p{
    text-align:center;
}